body {
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
  background-color: #f4f6f8;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: black;
  color: white;
  flex-wrap: wrap;
}

header h1 {
  margin: 0;
  font-size: 26px;
}
.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e5e5;
  font-weight: 600;
}

.container {
  margin-top: 100px;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-items: center;
}

.area-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  width: 280px;
  transition: 0.3s;
}

.area-card:hover {
  transform: scale(1.05);
}

.area-card img {
  width: 100%;
  height: 220px;
  border-radius: 10px 10px 0 0;
}

.area-card a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.back-btn {
  display: inline-block;
  margin-bottom:  20px;
  padding: 15px 25px;
  border-radius: 10px;
  text-decoration: none;
  background: linear-gradient(135deg, #e67e22, #d35400);
  color: white;
  margin-top: 70px;
}


footer {
  padding: 25px;
  background: black;
  color: white;
  margin-top: 50px;
}


@media (max-width: 480px) {

  header {
    flex-direction: column;
    gap: 15px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  .container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .area-card {
    width: 90%;
  }

  header h1 {
    font-size: 22px;
  }

  .back-btn {
    width: 80%;
  }
}
