body { 
    font-family: Arial, sans-serif; 
    margin: 0px;
    background-color: white;
}


header {
    background: black;
    color: white;
    padding: 20px 40px;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

header .logo {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

header .Hello{
    font-size: 30px;
}

.poster-container {
  position: relative;
  width: 1300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  aspect-ratio: 16 / 8; 
}

.poster-img {
    filter: brightness(70%); 
}

.poster-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: center;
}

.poster-text h2 {
  font-size: 50px;
  margin: 0;
}

.poster-text p {
  font-size: 18px;
  margin-top: 10px;
}

button{
    padding: 10px;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.details{
    color: rgb(0, 0, 0);
    padding: 30px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.explore-plans{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    background-color: #f4f6f8;
    flex-wrap: wrap;
}
.container{
    padding: 30px;
    background: white;
    border-radius: 10px; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    width: 250px;
    transition: transform 0.3s;
}
.container:hover {
    transform: translateY(-5px);
}
.container h1{
    color: #36454F;
}
.container p{
    font-size: 15px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

/* ----- MOBILE OVERRIDE ONLY ----- */
@media (max-width: 480px) {

  body {
    overflow-x: hidden;
  }

  .poster-container {
    width: 95% !important;
  }

  .container {
    width: 90% !important;
  }

  header .logo {
    font-size: 28px !important;
  }

  .poster-text h2 {
    font-size: 24px !important;
  }

  .details {
    font-size: 28px !important;
  }
   .poster-btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}
