* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------- HEADER ---------- */

.header {
  background-color: black;
  color: white;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

/* ---------- PROFILE ---------- */

.profile-container {
  display: flex;
  justify-content: center;
  padding: 40px 15px;
  margin-top: 80px;
}

.profile-card {
  background: white;
  width: 100%;
  max-width: 350px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}

.profile-card h2 {
  margin-bottom: 5px;
}

.email {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}

.profile-info p {
  font-size: 14px;
  margin: 8px 0;
}

      .logout-btn {
        width: 100%;
        padding: 12px;
        margin-top: 10px;
        background-color: #4f6ef7;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
      }

      .logout-btn:hover {
        background-color: #3c5ae0;
      }

      .delete-btn {
        width: 100%;
        padding: 12px;
        margin-top: 10px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
      }

      .delete-btn:hover {
        background-color: darkred;
      }

/* ---------- BUTTONS ---------- */

.edit-btn {
  display: block;
  margin-top: 12px;
  width: 100%;
  padding: 10px;
  background: #667eea;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.edit-btn a {
    text-decoration: none;
}

.edit-btn:hover {
  background: #5a67d8;
}

.edit-btns {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #ff0000;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* ---------- ERROR ---------- */

.error-msg {
  color: red;
  margin-top: 10px;
}

/* ---------- FOOTER ---------- */

footer {
  padding: 25px;
  text-align: center;
  background: black;
  color: white;
  margin-top: 50px;
}

/* ---------- MOBILE ---------- */

@media (max-width: 480px) {

  .header {
    flex-direction: column;
    gap: 15px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }
}
